<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XboxControllerMouse.Driver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Xbox button configurations-->
    <add key="RightTrigger" value="XboxControllerMouse.Library.Actions.MouseEvents.RightClick"/>
    <add key="LeftTrigger" value="XboxControllerMouse.Library.Actions.MouseEvents.LeftClick"/>
    <add key="AButton" value=""/>
    <add key="BButton" value=""/>
    <add key="YButton" value=""/>
    <add key="XButton" value=""/>
    <add key="BackButton" value=""/>
    <add key="StartButton" value=""/>
    <add key="Leftbumper" value="XboxControllerMouse.Library.Actions.PrevoiusApplication"/>
    <add key="rightbumper" value="XboxControllerMouse.Library.Actions.NextApplication"/>
    <add key="leftstickclick" value=""/>
    <add key="rightstickclick" value=""/>
    <add key="dpadleft" value="XboxControllerMouse.Library.Actions.LeftArrow"/>
    <add key="dpadright" value="XboxControllerMouse.Library.Actions.RightArrow"/>
    <add key="dpadup" value="XboxControllerMouse.Library.Actions.UpArrow"/>
    <add key="dpaddown" value="XboxControllerMouse.Library.Actions.DownArrow"/>

    <add key="turnoffreadrate" value="500"/>
    <add key="updatereadrate" value="20"/>
    <add key="triggersensitivity" value="255"/>
    <add key="mousesensitivity" value="2000"/>
  </appSettings>
</configuration>