<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XboxControllerMouse.Driver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="righttrigger" value="XboxControllerMouse.Library.Actions.MouseEvents.LeftClick"/>
    <add key="lefttrigger" value=""/>
    <add key="abutton" value=""/>
    <add key="bbutton" value=""/>
    <add key="ybutton" value=""/>
    <add key="xbutton" value=""/>
    <add key="backbutton" value=""/>
    <add key="startbutton" value=""/>
    <add key="leftbumper" value=""/>
    <add key="rightbumper" value=""/>
    <add key="leftstickclick" value=""/>
    <add key="rightstickclick" value=""/>
    <add key="dpadleft" value=""/>
    <add key="dpadright" value=""/>
    <add key="dpadup" value=""/>
    <add key="dpaddown" value=""/>
  </appSettings>
</configuration>